*.sublime-project
iMacros/Downloads/
#Current.iim

.settings
.project
.classpath
.iml
.idea
syntax: glob
*.orig
*.log
*.lnk
.tags
.tags_sorted_by_file
*.sublime-project
*.sublime-workspace

*Current.iim
Properties.iim
gm_scripts
*.sublime*
Demo-Firefox

*.exe
*.bat
*.cmd

iMacrosEngine
UserScripts

docs
node_modules
supportMacros

iMacros/3.3/
iMacros/4.10/
iMacros/4.4/
iMacros/5.1/
iMacros/5.2/
iMacros/6.1/

